
<div>
    @*@foreach (String msgI in messages)
    {<div>@msgI</div>}*@
    <input @bind="msg" />
    <button class="btn btn-primary" @onclick="SendMessage">Отправить</button>
</div>
@code {
    [Parameter]
    public string name { get; set; }

    private string msg = "";

    public static List<String> messages = new List<string>();


    public DateTime date = DateTime.Now;

        public void SendMessage()
        {
            messages.Add(msg + " от " + name + "| " + date.ToString());
        }

    


    //public void Sent()
    //{ if (msg != "")
    //    {
    //        messages.Add(msg);
    //    }
    //}

}
