

<div style="border: 1px solid; width:320px; height:400px;  border-radius:10px; ">

    <input @bind="msg" />
    <button class="btn btn-primary" @onclick="SendMessage">Отправить</button>
    @foreach (Classes.Message msgI in messages)
    {<div style="border:1px groove">
            <div style="color:blue; ">@(msgI.getDate())</div>
            <div>@(msgI.getMessage())</div>
        </div>
    }
</div>
@code {
        [Parameter]
        public string name { get; set; }


    private string msg = "";

    public static List<Classes.Message> messages = new List<Classes.Message>();


    public DateTime date = DateTime.Now;

    public void SendMessage()
    {
        if (msg == "")
            {
            return;
            }
        Classes.Message message = new Classes.Message();
        message.setDate();
        message.setUser(name);
        message.setMessage(msg);
        messages.Add(message);
    }





    //public void Sent()
    //{ if (msg != "")
    //    {
    //        messages.Add(msg);
    //    }
    //}

}
