
<div style="border:1px solid">
<input @bind="text" placeholder="Имя"/>
<div></div>
<input @bind="yearsT" placeholder="Возраст" />
<div></div>
<input @bind="heightT" placeholder="Рост"/>
<div></div>
<button class="btn btn-primary" @onclick="addPerson">@(onBtn)</button>
</div>


@code {
    [Parameter]
    public EventCallback handler { get; set; }

    string text = "";
    string yearsT = "";
    string heightT = "";
    string onBtn = "Добавить персону";
    static List<Person> group = new List<Person>();

    private void addPerson()

    {

        if (text =="" || yearsT == "" || heightT =="")
        {
            onBtn = "Заполните все поля";
            return;
        }
        int heightI;
        int yearsI;
        try
        {
            heightI = int.Parse(heightT);
            yearsI = int.Parse(yearsT);
        }catch (System.FormatException)
        {
            onBtn = "Рост не число!";
            return;
        }
        foreach (Person p in group)
        {
            if (p.name == text && p.height==heightI && p.birth == yearsI)
            {
                onBtn = "Это человек уже есть!";
                return;
            }
        }


        group.Add(new Person() { birth = yearsI, name=text, height=heightI, });
        handler.InvokeAsync((string)text);
    }

    public class Person
    {
        public string name;
        public int birth;
        public int height;

    }


}
