@page "/"
<div style="float:right; width:auto"><MishaWebProject1.Components.Registration handler="(u)=>setUser((Classes.Person)u)"></MishaWebProject1.Components.Registration></div>
@if (user != "")
{
    <div style="float:right; width:auto;">
        <MishaWebProject1.Components.Chat name="@user"></MishaWebProject1.Components.Chat>
    </div>

}
<MishaWebProject1.Components.Pictures ></MishaWebProject1.Components.Pictures>

@code {
    public string user = "";

    void setUser(Classes.Person u)
    {
        user = u.nickname;
    }
}
